{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap.min.css' %}" />
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<div class="box">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1" ></li>
                </ol>
                <div class="carousel-inner">
                {% for image in images %}
                    {% if forloop.first %}
                        <div class="item active">
                            <img src="{% get_media_prefix %}{{image.file.name}}"  alt="First Slide">
                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{% get_media_prefix %}{{image.file.name}}"  alt="First Slide">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

        <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>